body{
    font-family: Arial, sans-serif;
    background-color: black;
    color:azure
}
h1{
    color:aqua
}

a{
    color:darkgray
    text-decoration: none;

}

a:hover{
    color:mediumblue

}

ul > li{
    font-weight: bold;
}

h1 + p{
    background-color:black;
    front-size: 22px;
    padding: 8px;
    border-radius: 10px;
}

ul{
    list-style-type: none;
}

ul > li:first-child{
    color: crimson
}

ul > li:last-child{
    color: chocolate
}

ul > li:nth-child(3){
    color: chocolate
}

ul > li::before{
    content: "🚀"
}
